<h1>LIST</h1>

<div class="record-container">
  <button  class="record-btn" id="listRecoButton">Recognition</button>
  <div class="gg-record hidden"></div>
</div>
<p id="reco-label"></p>


<% @lists.each do |list| %>
  <h1><%= list.name %></h1>
<% end %>
