<h1>Audio</h1>

<button id="startRecordingButton">Start recording</button>
<button id="stopRecordingButton">Stop recording</button>
<button id="playButton">Play</button>
<button id="downloadButton">Download</button>
<button id="viewButton">View</button>
<button id="saveButton">Save</button>
<button id="speekButton">Speek</button>

<% @audios.each do |audio| %>
  <h1><%= audio.title %></h1>
  <audio src=<%= audio.content %> type="audio/mpeg" controls>
    Your browser does not support the audio element.
  </audio>
  <%= link_to 'delete', audio_path(audio), data: {turbo_method: :delete} %>
<% end %>
