<h1>Hi! 👋</h1>
<h1>What do you wan't to do?</h1>
<div class="home-links">
<ul>
  <li><%= link_to 'audios', audios_path %></li>
  <li><%= link_to 'lists', lists_path %></li>
  <li><%= link_to 'test', test_path %></li>
</ul>
</div>

<div class="record-container">
  <button class="record-btn" id="recoButton">Recognition</button>
  <div class="gg-record hidden"></div>
</div>
<p id="reco-label"></p>
